.category-wrapper{
    margin-left: 1rem;
    
    display: flex;
    align-items: center;
    justify-content: space-around!important;
    gap: 4rem;
    flex-direction: row;

}
.second_header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}